*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	/*Mac dinh la: 16px;*/
}

/*===========================START CIRCLE CONTAINER===========================*/
.Rcircle-btn{ /* nút tròn chứa các icons */
	width: 70px;
	height: 70px;
	position: fixed!important;
	opacity: .8;
	bottom: 40px;
	left: 70px;
	z-index: 100;
}
.Rcircle-btn .Rcall-me{ /* icon đầu tiên: phone + Call me */
	width: 70px;
	height: 70px;
	border: 15px solid #248922;
	border-radius: 50%;
	background-color: #248922;
	color: #fff;
	animation: fadeCallme .2s;
	-webkit-animation: fadeCallme .2s;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
.Rcircle-btn .Rcall-me i{ /* thẻ <i> cái icon phone đầu tiên*/
	color: #fff;

}
.Rcircle-btn .Rcall-me p{ /* text: Call me */

	font-weight: bold;
	font-size: 90%;
}

.RmyIcon {  /* contain all content: <i>, <svg> */
	width: 70px;
	height: 70px;
	border: 15px solid #248922;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
}

.RmyIcon i, .RmyIcon svg{ /* adjust <i>, <svg> */
	font-size: 200%;
	color: #248922;
	padding-top: 7px;
	animation: fadeLeft .2s ease;
	-webkit-animation: fadeLeft .2s ease;
}
.RmyIcon svg{
	width: 28px;
	height: 30px;
	padding-top: 9px;
}
.Rcircle-over{ /* Create effect around the circle */
	transform: scale(0);
	animation: shakeOut 2s infinite;
	-webkit-animation: shakeOut 2s infinite;
	position: absolute;
	border-radius: 50px;
	display: block;
	width: 84px;
	height: 84px;
	left: -7px;
	top: -7px;
	z-index: -1;
	background-color: #248922;
}
.Rcircle-over:nth-of-type(2n){ /* Create effect around the circle */
	animation-delay: .5s;
}
/* Create animation for myIcon */
@keyframes shakeOut {
	0%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		opacity: .5;
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}
/* Create effect when icon appear */
@keyframes fadeLeft {
	from{
		transform: translateX(25px);
	}
	to{
		transform: translateX(0);
	}
}
@keyframes fadeCallme {
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
/*============================END CIRCLE CONTAINER============================*/
/*============================BEGIN CONTACT BLOCK=============================*/
.Rcircle-contact{
	transition: all 10s ease;
}
.Rcircle-content{
	background: center no-repeat #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
	width: 245px;
	height: auto;
	left: 70px;
	bottom: 120px;
  position: absolute;
	line-height: 2.5;
	padding: 14px 0;
	border-radius: 7px;

	display: none;
}
.Rcircle-content::before{ /* nút màu trắng dưới cái khung circle-content */
	position: absolute;
	bottom: -7px;
	left: 25px;
	border-right: 8px solid transparent;
	border-top:  8px solid #fff;
	border-left: 8px solid transparent;
	content: '';
}
.Rcircle-content a{ /* Contain : icon + text */
	position: relative;
	width: 100%;
	height: auto;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 8px 20px 8px 60px;
	text-decoration: none;
	transition: all .3s ease-in-out;
}
.Rcircle-content a:hover{
	background-color: rgba(0,0,0,.1);
}
.Rcircle-content a span{ /* circle around icon messenger zalo */
	position: absolute;
	left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
}
.Rcircle-content a p{ /* Text: messenger, Email us, zalo, ... */
  color: #3b3b3b;
	font-size: 120%;
}
.Rcircle-content svg{ /* icons messenger zalo,... */
	width: 27px;
	height: 27px;
	position: absolute;
	top: 6.5px;
	left: 6.5px;
}

.Rhide-close{
	position: relative;
	padding-top: 13px;
	width: 70px;
	height: 70px;
	border: 15px solid #248922;
	border-radius: 50%;
	text-align: center;
	background-color: #248922;
	color: #fff;
	transform: translateY(-70px);
	display: inline-block;
	opacity: 0;
}


/*==============================END CONTACT BLOCK=============================*/
